@import url("./assets/Fonts/stylesheet.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DIN 2014", sans-serif;
}

section {
  padding: 50px 120px;
}

.logo {
  width: 150px;
  object-fit: contain;
}
.logo2 {
  width: 200px;
  object-fit: contain;
}

/* override the colors */
.text-orange {
  color: #eb9a37;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
}

nav .logo-text {
  font-family: "DIN", sans-serif;
  font-size: 35px !important;
  font-weight: 500 !important;
}

nav li a .nav-opacity {
  color: rgba(255, 255, 255, 0.5) !important;
}

.hero {
  background: url("./assets/Images/BG_IMAGE.png") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.btn-orange {
  background-color: #eb9a37 !important;
  color: white !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  cursor: pointer;
}

.nav-link {
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.nav-link.active {
  border-bottom: 2px solid #e06437;
}

.overlay-black-linear-gradient {
  background: #090400;
  opacity: 0.63;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-head {
  font-size: 56px;
  font-weight: bold;
  line-height: 1;
  width: 100%;
}

.hero-desc {
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
}

/* Banner */
.banner {
  background-color: #eee7e2;
}

.banner .head {
  font-size: 38px;
  font-family: "DIN", sans-serif;
  font-weight: regular;
  max-width: 25%;
  color: #df6437;
}

/* Banner 2 */
.banner-2 {
  background: url("./assets/Images/banner2-bg.png") no-repeat center
    center/cover;
  position: relative;
  color: white;
}

.banner-2 .content,
.technology .content {
  z-index: 1;
}

.banner-2 img {
  width: 300px;
  object-fit: cover;
}

.banner-2 .overlay,
.technology .overlay {
  background-color: #090400;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Tab1 */
.tab-1 {
  background-color: #f8e3d4;
}

.tab-1 .head {
  text-transform: uppercase;
  color: #df6437;
  font-size: 38px;
  font-family: "DIN", sans-serif;
  font-weight: bold;
  text-align: center;
}

.nav-tabs,
.tab-content {
  width: 100%;
}

.tab-1 button img {
  width: 80%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-tabs button {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  border-bottom: 2px solid #df6437 !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  cursor: pointer;
  padding: 20px;
  padding-bottom: 10px;
  height: 100px;
  width: 300px;
  position: relative;
}

.nav-tabs button:hover {
  background-color: transparent !important;
}

.tab-1 .nav-tabs button.active {
  background-color: #df6437 !important;
}

.tab-1 .tab-pane button {
  background-color: #df6437;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}

.tab-1 .tab-pane .head {
  font-size: 24px;
  color: black;
  text-align: left !important;
}

.tab-content {
  position: relative;
}

.tab-1 .tab-content img {
  width: 100%;
  object-fit: cover;
}

.tab-2 .nav-tabs button {
  font-size: 20px;
  text-align: left;
  color: white;
  font-family: "DIN", sans-serif;
}

.tab-2 .nav-tabs button.active {
  background-color: white !important;
  border-bottom: 2px solid white !important;
}

/* Partners */
.partners .head,
.impact .head,
.technology .head {
  font-size: 38px;
  font-family: "DIN", sans-serif;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  color: #df6437;
  text-align: center;
  text-transform: uppercase;
}

.text-dark-orange {
  color: #df6437 !important;
}

.partners span {
  font-size: 28px;
  font-family: "DIN", sans-serif;
  color: black;
  font-weight: bold;
}

.partners .hr {
  flex: 1;
  border: 0;
  color: black;
  height: 1px;
  background: black !important;
}

span.company-name {
  font-size: 16px;
  font-family: "DIN", sans-serif;
  font-weight: bold;
  color: black;
}

/* Technology */
.technology {
  background: url("./assets/Images/technology_bg.png") no-repeat center
    center/cover;
  color: white;
  position: relative;
}

.text-yellow {
  color: #eb9a37 !important;
}

.acceleration .overlay {
  background-color: #460809;
  opacity: 0.9;
}

/* Footer */
.footer {
  background-color: #181819;
}

.footer .footer-head {
  font-weight: bold;
}

.footer-input-container {
  background-color: #e04f26;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  padding: 0px;
  border: 2px solid white;
  overflow: hidden;
}

.footer input {
  padding: 10px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.footer input::placeholder {
  color: white;
}

.footer button {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px;
  border: none;
  outline: none;
  background-color: white;
  color: #f1a039;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1500px) {
  section {
    padding: 50px 80px;
  }
}

@media (max-width: 1360px) {
  section {
    padding: 50px 60px;
  }
}

.footer-menu {
  min-width: 200px;
  width: 300px;
}

.swiper-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive image styling */
.impact-image {
  width: 100%; /* Make images fully responsive */
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image is scaled properly */
}

@media (max-width: 768px) {
  .head {
    font-size: 1.5rem;
  }
}

/* Responsive Design */
@media (max-width: 992px) {
  .hero-head {
    font-size: 2.5rem;
  }

  .hero-desc {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .hero-head {
    font-size: 2rem;
  }

  .hero-desc {
    font-size: 1rem;
  }

  .hero-content {
    gap: 1.5rem;
  }
}

@media (max-width: 576px) {
  .hero-head {
    font-size: 1.75rem;
  }

  .hero-desc {
    font-size: 0.9rem;
  }

  .hero {
    padding: 1rem;
  }
}

.hamburger-menu {
  display: none;
}

@media (max-width: 1080px) {
  /* Navbar */
  nav {
    padding: 1rem;
  }

  nav .nav-menus {
    display: none !important;
  }

  nav .hamburger-menu {
    display: block;
  }
}

@media (max-width: 920px) {
  nav .logo-text {
    font-size: 1.5rem !important;
  }

  .logo {
    width: 100px;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}

/* Hero Section */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: gray;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-menu.hide {
  display: none !important;
}

.mobile-menu.show {
  display: flex !important;
}

.tab-content button {
  border: 0px !important;
}

@media (max-width: 480px) {
  .tab-2 .swiper-container img {
    width: 100% !important;
    object-fit: cover;
  }

  .tab-2 .swiper-container p {
    text-align: center;
  }

  .tab-2 .swiper-container h4 {
    text-align: center;
  }
}

.footer .footer-logo img {
  width: 150px;
  object-fit: contain;
}

/* Head */
@media (max-width: 768px) {
  .head {
    font-size: 2rem !important;
    margin-bottom: 4px;
  }
}

.head-p {
  width: 100%;
  max-width: 1000px;
}

.tab-content .head {
  font-size: 1.5rem !important;
}

@media (max-width: 920px) {
  section {
    padding: 50px 60px;
  }

  .swiper img {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  section {
    padding: 50px 40px;
  }
}

@media (max-width: 576px) {
  section {
    padding: 50px 20px;
  }
}

@media (max-width: 760px) {
  .partners .academia img {
    max-width: 100px !important;
    width: 100% !important;
  }
}

@media (max-width: 760px) {
  .partners .academia img:nth-child(1) {
    width: 100% !important;
  }
}

@media (max-width: 760px) {
  .tab-3 .swiper-container img {
    width: 100% !important;
    max-width: 200px !important;
    object-fit: cover;
  }

  .tab-3 .swiper-container h1 {
    text-align: center !important;
    max-width: 250px;
  }

  .tab-3 .content-container {
    align-items: center !important;
    gap: 0.6rem !important;
  }

  .tab-3 .content-container p {
    text-align: center !important;
  }

  .forge-orange {
    width: 150px;
  }
}

@media (max-width: 920px) {
  .tab-2,
  .tab-3 button {
    padding: 10px 20px !important;
  }

  .tab-3 .nav-tabs {
    align-items: center !important;
    justify-content: center !important;
  }
}

.footer-input-container input {
  background-color: #e04f26 !important;
  color: white !important;
}

.footer-input-container input:focus {
  background-color: #e04f26 !important;
  border: none;
  color: white !important;
  outline: none;
}

.forge-orange {
  width: 200px;
  object-fit: contain;
}

.image-container-tab1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.image-container-tab1 img {
  width: 60px !important;
  object-fit: contain;
}

@media (max-width: 420px) {
  .image-container-tab1 img {
    width: 40px !important;
    object-fit: contain;
  }
}

.tab-1-3 .image-container-tab1 img {
  width: 100px !important;
  object-fit: contain;
}

.tab-1-3 .image-container-tab1 img:nth-child(1) {
  /* // multiply blend */
  mix-blend-mode: multiply !important;
}

ul {
  list-style-type: none;
}

.tab-1 .nav-tabs button.active {
  background-color: #df6437 !important;
}

.banner-text {
  font-size: 2.5rem;
  font-weight: 400;
  color: #df6437;
}
